body{
    font-family: "Oswald";
    margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  
  font-weight: normal;
  /*font-style: italic;*/
}
.header {
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}
.container-nav {
    /*border: 1px solid red;*/
    width: auto;
    /* width:100%; */
    flex: 1;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
  }
  .container-img-logo{
    display: flex;
    width: 50px;
    padding: 0 30px;
  }
.menu{
    height: inherit;
    width: inherit;
    justify-content: right;
    align-content: center;
}


.menu ol{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 16px;
    padding: 12px 0;
}
.menu ol li{
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 16px;
}

.menu ol li a{
    font-family: "Oswald";
    font-size: 16px;
    height: 16px;
    display: flex;
    text-decoration: none;
    color: #111112;
    padding: 0 30px;
    font-weight: bold;
}
.hero img {
    max-width: 100%;
    height: 600px;
    object-fit: cover;
}
.container-text {
    position: relative;
    width: 100%;
    height: 600px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #111112;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .vacio{
      width: 100%;
      height: 120px;
      background-color: white;
  }
  .portafolio{
      width: 100%;
      height: 512px;
      color: white;
  }
  .container-portafolio{
      padding: 100px 800px 220px 300px;
      background-color: #111112;
      color: white;
  }
  .container-portafolio h1{
      font-size: 60px;
  }
  .container-portafolio p{
      font-family: "Merriweather";
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 2px;
      line-height: 25px;

  }
  .portafolio h1{
      font-weight: bold;
  }
  .cuadritos{
      display: flex;
  }
  .container-cuadritos{
      width: 353px;
      height: 447px;
  }