body{
    font-family: "Oswald";
    margin: 0;
    background-color: hsl(223, 33%, 96%);
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: "Oswald";
  font-weight: normal;
  /*font-style: italic;*/
}

.header {
    background-color: #f1f3f8;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    position: sticky;
}
.container-nav {
    /*border: 1px solid red;*/
    width: auto;
    /* width:100%; */
    flex: 1;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    flex-wrap: wrap;
  }
  .container-img-logo{
    display: flex;
    width: 50px;
    padding: 0 30px;
  }
.menu{
    height: inherit;
    width: inherit;
    justify-content: right;
    align-content: center;
}


.menu ol{
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  margin: 0;

}
.menu ol li{
  display: flex;
  height: 68px;
  align-items: center;
}
.menu ol li:hover{
border-top: 3px solid #3bc9db;
height: 60px;
}
.menu ol li a{
  font-family: "Oswald";
  font-size: 16px;
  height: 16px;
  display: flex;
  text-decoration: none;
  color: #3bc9db;
  padding: 0 30px;
  font-weight: bold;
}
.menu ol li a:hover{
color:#60e1f1;

}
.container_c {
    /*border: 1px solid red;*/
    max-width: 1280px;
    /* width:100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-wrap: inherit;
  }
  .hero-url {
    border: 1px solid white;
    padding:5px 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    transition: .3s ease;
  }
  .hero-url:hover{
      background-color: white;
    color: #3bc9db;
  }
  .hero_title{
      text-align: center;
      color: white;
      font-size: 24px;
  }
  .hero_description p{
    margin-top: 0;
      color: white;
      font-size: 24px;
      text-align: center;
  }
  .hero_button{
      text-align: center;
  }
  .hero{
      width: 100%;
      background: -webkit-linear-gradient(right, #3bc9db ,  #4c6ef5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left  #3bc9db,  #4c6ef5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left #3bc9db,  #4c6ef5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left  #3bc9db,  #4c6ef5); /* Standard syntax */
      object-fit: cover;
    }
.he{
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 100px 0;
    margin: 0 auto;
}
.hero h1{
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
  color: white;
  transition: .5s ease;
  padding: 0px 20px;
  height: 150px;
}
.hero h1:hover{
  border-radius: 10px;
  color: #3bc9db;
  background-color: white;
  
}
.container_resena{
  background-color: #111112;
  padding: 50px;
  margin-top: 30px;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
}
.container_title{
  font-size: 34px;
}
.container_description{
  font-size: 24;
  font-family: "Lato";
}
.contact {
  background-color: #4c6ef5;
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.social {
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin:  0 10px;
}
.social-link.twitter {
  background-image: url('../images/twitter.svg');
}
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}
.form-email input{
  border-color: transparent;
  border-style: solid;
  border-radius: 5px;
  padding: 10px 20px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  margin: 3px;
}
.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 10px 0px;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
  border: 3px white solid;
  font-weight: bold;
  font-size: 13px;
  transition: .3s ease;
}
.form-email button:hover{
  background-color: white;
  color: #845ef7;
}
.form-email h3 {
  font-family: 'Oswald', sans-serif;
}
.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1em;
}
.container_con {
  /*border: 1px solid red;*/
  max-width: 40%;
  /* width:100%; */
  flex: 1;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
.container_input{
  max-width: 40%;
  /* width:100%; */
  flex: 1;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}