<link rel="stylesheet" href="/css/review.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" >
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<header>
    <div class="container">
        <header class="header">
            <div class="container-nav">
                <div class="container-img-logo">
                    <img src="/images/logo_header_template_azul.png" alt="Senior Web.Site" height="30px">
                </div>
                <nav class="menu">
                    <ol>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/#Nosotros">Nosotros</a>
                        </li>
                        <li>
                            <a href="/services">Servicios</a>
                        </li>
                        <li>
                            <a href="#contactanos">Contactanos</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>   
    </div>
</header>
<div class="hero">
    <div class="container_c">
    <div class="he">
        <div class="hero_title">
            <h1>Reseña</h1>
        </div>
        <div class="hero_description">
            <p>Las cosas van mejor con un <b>Web Site</b></p>
        </div>
        <div class="hero_button">
            <a class="hero-url" href="/" >Home</a>
            <a class="hero-url" href="/services">Servicios</a>
        </div>
    </div>
    </div>
</div>

<section class="reseña">
<div class="container_c">
    <div class="container_resena">
        <div class="container_title">
            <h2>Nuestra Historia</h2>
        </div>
        <div class="container_description">
            La historia de Senior Web.Site comienza el 3 de diciembre de 2005, siendo fundada por Alessandro Morales y Walter Morales.

En sus inicios comenzó siendo un proyecto pequeño para apoyar de manera no lucrativa a una las empresas pequeñas, en ese entonces los fundadores aún no tenían planeado darle mucho seguimiento al proyecto por lo que tampoco tenía un nombre.

<br/>Fue hasta marzo de 2006 cuando se decidió trabajar en tiempo completo fundando así la empresa Senior Web.Site, S.A. <br/>En ese mismo mes la empresa no genero ningún ingreso lo que fue devastador para sus fundadores.

Durante 3 meses la empresa se sostuvo por medio de donaciones de algunos familiares cercanos hasta que la empresa reconocida McDonald’s ser vio en necesidad de buscar una empresa para desarrollar un microservicio que facilitaría las ordenes en línea.<br/> Senior Web.Site se encargó del proyecto que, aunque no fue tan grande, trajo muchos beneficios la pequeña empresa.

La empresa tuvo la idea de utilizar el microservicio creado, realizar modificaciones para evitar demandas, y construyó un complejo sistema para recibir y manejar compras en línea siendo completado en septiembre de aquel año, que en sus primero 3 meses de lanzamiento y venta trajo a la empresa un total de Q23,000.00 mensuales.

Desde el gran éxito que tuvo la empresa, esta se ha dedicado al manejo y alquiler de servicios web teniendo ganancias de hasta Q800,000.00 al año.
        </div>
    </div>
</div>
</section>
<section id="contactanos" class="contact">
<div class="container_c">
    <div class="container_con">
        <form action="/sucription" class="form-email" method="POST">
            <h3>¿TIENES DUDAS?</h3>
            <div class="container_input">
                <input type="text" name="name" placeholder="Nombre" id="name" required>
                <input type="text" name="lastname" placeholder="Apellido" id="last_name" required>
            </div>
            <div class="container_input input_correo">
                <input size="52" name="email" type="email" placeholder="Correo Electronico" id="email" required>
            </div>
            <button>Enviar</button>
        </form>
    </div>
    <div class="social">
        <a target="_blank" href="https://github.com/WalterMR/Senior-Web.Site" class="social-link github"></a>
        <a target="_blank" href="https://www.instagram.com/seniorweb.site/" class="social-link instagram"></a>
    </div>
</div>
</section> 
<footer class="footer">
    <div>
        <p>Proyecto de Graduandos</p>
    </div>
    <div>
        <p>
            Designed by Walter Morales and deployed by Alessandro
        </p>
    </div>
</footer>