<link rel="stylesheet" href="/css/review.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" >
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<header>
    <div class="container">
        <header class="header">
            <div class="container-nav">
                <div class="container-img-logo">
                    <img src="/images/logo_header_template_azul.png" alt="Senior Web.Site" height="30px">
                </div>
                <nav class="menu">
                    <ol>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/#Nosotros">Nosotros</a>
                        </li>
                        <li>
                            <a href="/services">Servicios</a>
                        </li>
                        <li>
                            <a href="#contactanos">Contactanos</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </header>   
    </div>
</header>
<div class="hero">
    <div class="container_c">
    <div class="he">
        <div class="hero_title">
            <h1>Reseña</h1>
        </div>
        <div class="hero_description">
            <p>Las cosas van mejor con un <b>Web Site</b></p>
        </div>
        <div class="hero_button">
            <a class="hero-url" href="/" >Home</a>
            <a class="hero-url" href="/services">Servicios</a>
        </div>
    </div>
    </div>
</div>